<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  日記を書く
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">日記を書く</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with(model: @training, local: true) do |form| %>
        <div class="modal-body">
          <div class="training_type">
            <%= form.label :training_type, "筋トレ種目" %>
            <%= form.text_field :training_type %>
          </div>

          <div class="weight">
            <%= form.label :weight, "重量" %>
            <%= form.text_field :weight %>
          </div>

          <div class="rep">
            <%= form.label :rep, "1セット回数" %>
            <%= form.text_field :rep %>
          </div>

          <div class="set">
            <%= form.label :set, "セット数" %>
            <%= form.text_field :set %>
          </div>

          <div class="time">
            <%= form.label :start_time, "日時" %>
            <%= form.datetime_select :start_time %>
          </div>

          <div class="comment">
            <%= form.label :comment, "コメント" %>
            <%= form.text_field :comment %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="submit">
            <%= form.submit "Save changes", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>