<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  日記を書く
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">日記を書く</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with(model: @training, local: true) do |form| %>
        <div class="modal-body">
          <div class="type">
            <%= form.label :type, "タイトル" %>
            <%= form.text_field :type %>
          </div>

            <div class="time">
            <%= form.label :datetime, "開始時間" %>
            <%= form.datetime_select :datetime %>
          </div>

          <div class="comment">
            <%= form.label :comment, "内容" %>
            <%= form.text_field :comment %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="submit">
            <%= form.submit "Save changes", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>