<p id="notice"><%= notice %></p>

<h1>筋トレボリュームカレンダー</h1>

<br>

<%= render 'form_modal' %>

<%= month_calendar events: @trainings do |date, trainings| %>
  <%= date.day %>

  <% trainings.each do |training| %>
    <div>
      <%= render 'detail_modal', training: training %><%= link_to '削除',training_path(training.id), method: :delete, data: { confirm: '削除してよろしいですか?' } %>
      <br>Volumes:<%= training.weight * training.rep * training.set %>kg
    </div>
  <% end %>
<% end %>



