<p id="notice"><%= notice %></p>

<h1>カレンダー</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.training_type %></td>
        <td><%= training.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', training %></td>
        <td><%= link_to 'Edit', edit_training_path(training.id) %></td>
        <td><%= link_to 'Destroy',training_path(training.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form_modal' %>

<%= month_calendar events: @trainings do |date, trainings| %>
  <%= date.day %>

  <% trainings.each do |training| %>
    <div>
      <%= link_to training.training_type, training %>
    </div>
  <% end %>
<% end %>



