<header>
  <h1>筋トレボリュームカレンダー</h1>
</header>

<div class="volume-popover">
  <button type="button" class="btn btn-lg btn-sm btn-outline-warning" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="left" title="ボリュームとは" 
  data-bs-content="ボリュームは重量×回数×セット数で計算されます。どれだけの重量を持ち上げたかではなくどれだけのボリュームを持ち上げたかが筋肥大に有効とされています。">ボリュームとは</button>
</div>



<div class= "record_button">
  <%= render 'form_modal' %>
</div>

<%= month_calendar events: @trainings do |date, trainings| %>
  <%= date.day %>

  <% trainings.each do |training| %>
    <div>
      <%= render 'detail_modal', training: training %>
      <% unless training.weight.nil? && training.rep.nil? && training.set.nil? %>
        <strong>Volumes</strong>:<%= training.weight * training.rep * training.set %>kg
      <% end %>
    </div>
  <% end %>
<% end %>



